body{
    background-color:lightblue;
}

h1{
    text-align: center;
    font-size:60px ;
}

h2{
    font-size:40px;
}

h3{
    font-size: 25px;
}
#paragraph2{
    background-color: white;
    width: 850px;
    border: 5px solid green;
    padding: 20px;
    padding-left:40px;
   line-height: 30px;
    margin:20px;
}

.blue{
    background-color: darkblue;
   color: white;
   border: 3px solid black;
    padding-left:20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

ol li{
    list-style-type:decimal-leading-zero;
}

a[target]{
    color:brown;
}

table{
    border-collapse: collapse;
}

table,th,td{
    border:1px solid black;
    padding: 8px;
    text-align: left;
}

td{
    background-color: white;
}

th{
    background-color: rgb(196, 196, 196);
    text-align: center;
    border-top:
}